<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="druid.properties"></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--全局缓存：开启-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="edu.bzu.fdick.entity"/>
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 配置数据库方言 -->
            <property name="helperDialect" value="mysql"/>
            <!-- 配置合理化，当totalPage>0，startRow>totalPage时，自动调整为合理值 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="edu.bzu.fdick.util.DuridDataSourceFactoryUtil">
                <property name="driverClassName" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="initialSize" value="${initialSize}"/>
                <property name="maxActive" value="${maxActive}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="edu.bzu.fdick.mapper"/>
    </mappers>
</configuration>