<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="edu.bzu.fdick.mapper.OrderAndISBNMapper">


    <select id="searchAll" resultType="OrderAndISBN">
       select * from  orderitem
    </select>
    <insert id="insertAll">
        insert into orderitem
        (orderID, bookISBN, buynum)
        values (#{orderID}, #{bookISBN}, #{buynum})
    </insert>
    <select id="searchById" resultType="OrderAndISBN">
        select
        *
        from orderitem
        where orderID
        = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="delById">
        delete
        from orderitem
        where orderID
            = #{id,jdbcType=VARCHAR}
    </delete>



</mapper>