<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="edu.bzu.fdick.mapper.UserMapper">
    

    <select id="selectAll"  resultType="User">
        select * from userinfo;
    </select>

    <select id="selectByUsername"  resultType="User">
        select * from userinfo where userName =#{username}
    </select>
    <select id="searchByUserNameAndUserPass" resultType="User">
        select
        *
        from userinfo
        where
        userName = #{userName}
        AND userPass = #{userPass}
    </select>

</mapper>